<h2>Quản lý điện nước & hóa đơn cho phòng {{phongtro.tenphong}} ({{phongtro.idphong}})</h2>
<div class="mb-3">
  <a href="/diennuoc/dien/{{phongtro.idphong}}" class="btn btn-warning">Nhập chỉ số điện</a>
  <a href="/diennuoc/nuoc/{{phongtro.idphong}}" class="btn btn-info">Nhập chỉ số nước</a>
  <a href="/hoadon/{{phongtro.idphong}}" class="btn btn-success">Xem hóa đơn</a>
  <a href="/hoadon/{{phongtro.idphong}}/tao" class="btn btn-outline-success mt-2">Tạo hóa đơn</a>
</div>